/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Загальні налаштування */
/* Встановлює стандартний шрифт на Montserrat, розмір шрифту на 16 пікселів, колір шрифту на #000 і колір фону на #fff. */
body {
  background: #f6f6fa;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
/*  background: linear-gradient(to right,#fff000 , #0057b7);*/
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
}
.main-content {
  padding-left: 44px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.column {
   margin-top: 20px; /* Додати верхній відступ */
      float: inline-start;
      width: 30%; /* Кожен стовпчик займатиме 33.33% ширини */
      padding: 10px;/*
    * Верхній правий кут: 10px
    * Верхній лівий кут: 20px
    * Нижній лівий кут: 30px
    * Нижній правий кут: 40px
  */
  margin: 10px; /* Додати 10 пікселів відступу навколо рамки */
    }
.column1 {
  border: 4px solid #0057b7;
  border-radius: 40px 10px 40px 10px;
}
.column_2 {
  margin-top: 20px; /* Додати верхній відступ */
  display: flex; /* Використовувати flexbox */
  flex-direction: row; /* Розмістити колонки в рядку */
  padding: 10px;
  margin: 10px; /* Додати 10 пікселів відступу навколо рамки */
  flex-grow: 1; /* Розширити стовпчики, щоб заповнити простір */
}
  .p-centr {
  text-align: center;
}
.background1 {
  background-image: url('images/fon_rozdil.png');
  background-size: cover; /* Масштабувати зображення, щоб воно повністю заповнило div */
  background-position: center; /* Розмістити зображення по центру div розібратися */
}
.container2 {
  background-image: url('img/new_location_KCD.png'); /* Шлях до вашого фонового зображення */
  background-attachment: fixed;
}
 .contact-link{
 font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  line-height: 24px;
/*  color: orange;*/
  text-align: center;
}
.no-copy {
  user-select: none;
}
.image {
  max-height: 300px; /* Обмеження по висоті */
  margin: 0 auto;
  display: block;
}
.no-coma {
  list-style-type: none;
}
.question {
    font-weight: bold;

    cursor: pointer;
  }
.answer {
    display: none;
    font-size: 16px;

  }
.toggle-button {
    border: 2px solid #ccc;
    padding: 5px 10px;
/*    display: inline-block;*/
    cursor: pointer;
/*    color: lightyellow;*/
  width: 95%; /* ширина кнопок*/
/*  display: flex; *//* Додати цю властивість */
/*  justify-content: space-between; *//* Додати цю властивість */
  align-items: center; /* Додати цю властивість */
  }
  .toggle-button::after {
    content: "+";
    float: right;
    font-size: 20px;
  }
  .pomeran-color{
  color: orange;
}
button[onclick="openModal();"] {
  background-color: orange;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
   padding: 10px;
  transform: translate(-50%, -50%);
}
.button-container {
  display: flex; /* Включити flexbox */
  justify-content: center; /* Центрувати по горизонталі */
  align-items: center; /* Центрувати по вертикалі */
  padding: 10px; /* Додати відступи по 10 пунктів sticky fixed*/
}

.modal-container {
        display: none;
        position: ;
        z-index: 999;
        top: 0;
        left: 0;
  align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: orange;
        display: flex;
        padding: 20px;
        max-width: 25%; /* Приклад адаптивної ширини */

    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
       float: right; /* Перемістити кнопку вправо */
       margin-left: auto; /* Автоматично перемістити вправо */
    }
.logo-and-menu {
  display: grid; /* Grid layout для розміщення лого, опису та меню */
  grid-template-columns: 1fr 2fr 3fr; /* Дві колонки: 1fr для лого та опису, 2fr для меню */
  align-items: center; /* Вирівняти елементи по вертикалі по центру */
}
.contact-block {
  /* Стилі для нового div-контейнера */
  display: flex; /* Flexbox для розміщення контактів та адреси в ряд */
  flex-direction: column; /* Розміщення елементів зверху вниз */
  align-items: flex-end; /* Вирівняти елементи по правому краю */
  margin-bottom: 10px; /* Додати відступ знизу */
}

.orange-stripe {
  background-color: orange; /* Помаранчевий фон */
  height: 12px; /* Висота стрічки */
  width: 100%; /* Зайняти всю ширину */
}
.logo {
  /* Стилі для логотипу */
}

.menu {
  /* Стилі для меню */
}
  .two-gird {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
  .price-image {
  max-width: 100%;
  height: auto; /* Зберігає пропорції зображення */
}
/*  background: linear-gradient(to right, #f0f8ff, #0000ff);*/

/*  .text-gradient linear-gradient(to right,#fff000 ,{*/
/*  @apply text-gradient-to-right;*/
/*  @apply text-white-to-black;*/
/*}*/
/* Налаштування заголовків */
/* Встановлює розмір заголовків h1 на 24 пікселі, жирність на bold. */
/* H1 - Головні підрозділи */
h1 {
  text-align: center;
  font-weight: bold;
}

/* H2 - Внутрішні заголовки */
h2 {
  text-align: center;
/*  font-style: italic;*/
}

/* H3 - Текст підрозділів */
h3 {
  text-align: center;
}

/* H4 - Другорядний текст */
h4 {
  text-align: left;
  font-size: 10px smaller;
}

/* H5 - Розгортаємі підрозділи */
h5 {
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

/* H6 - Схований текст */
h6 {
  text-align: left;
  color: #fff;
  background-color: #fff;
}

/* Налаштування абзаців */
/* Встановлює висоту рядка абзаців на 1.5, відступи зліва і зверху на 1em. */
p {
  line-height: 1.5;
  margin: 1em 0;
}

/* Налаштування посилань */
/* Встановлює колір посилань на #00f і видаляє текстове оформлення. */
a {
  color: #00f; /* Orange (#f5a623) був синій #00f; */
  text-decoration: none;
}
.menu-item
  {
  text-align: center;
}
/* Налаштування кнопок */
/* Встановлює колір фону кнопок на #00f, колір шрифту на #fff, радіус закруглення на 5 пікселів, відступи зверху і знизу на 10 пікселів і зліва і справа на 20 пікселів. */
button {
  background-color: #00f;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.img-icon {
      width: 20px; /* Ширина зображення = 20 пікселів */
      height: auto; /* Висота зображення буде автоматично розрахована */
      border: 1px solid #ccc; /* Додати рамку з сірого кольору */
      margin: 10px; /* Додати відступи навколо зображення */
    }
/* Форматування для комп'ютерів */
/* Встановлює ширину контейнерів на 80% для комп'ютерів. */
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Форматування для мобільних телефонів */
/* Встановлює розмір шрифту для всіх елементів на 14 пікселів для мобільних пристроїв і ширину контейнерів на 100%. */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }
}
.footer-info {
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
}
section#menu {
  background-color: #ffffff;
  /*border: 1px solid #000000;*/
  padding: 10px;
  display: flex;
  flex-direction: column;

}
section#menu > ul > li {
  border: 1px solid #ff7f00;
}
.footer-info-item {
  vertical-align: top;
  display: inline-block;
  margin-right: 1rem;
}

.footer-info-list {
  list-style: none;
}

.footer-info-list li {
  margin-bottom: 0.5rem;
}

#my-table {
  border: 1px solid black;
}
html {
  margin: 8px;
  margin-top: 16px;
  padding: 0 8px;   /*- Відступ 8 пікселів зліва і справа.*/
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
.columns {
  display: flex;
  flex-direction: row;
}

.column-1 {
  width: 50%;
  padding: 10px;
}

.column-2 {
  width: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }

  .column-1, .column-2 {
    width: 100%;
  }
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

